* {
    margin: 0;
    box-sizing: border-box;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 20px;
    height: 100vh; /* full screen height */
  }

  .grid-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 640px;
    height: 640px;
    outline: 1px solid #000000;/*border was taking on the inner space */
 
  }

  .grid-square {
    display: flex;
    width: 40px; /* grid-container width (640px)/16 number of column = 40px */
    height: 40px;
    box-sizing: border-box;
    border: 1px dotted #0000ff;
  }
#reset {
  padding: 10px 20px;
  cursor: pointer;
}

