* {
    margin: 0;
    box-sizing: border-box;
  }

  .grid-container {
    display: flex;
    flex-wrap: wrap;
    width: 640px;
    height: 640px;
    outline: 1px solid #000000;/*border was taking on the inner space */
    margin-left: 400px;
    margin-top: 50px;
  }

  .grid-square {
    display: flex;
    width: 40px; /* grid-container width (640px)/16 number of column = 40px */
    height: 40px;
    box-sizing: border-box;
    border: 1px dotted #0000ff;
  }